<div class="center hero-unit">
  <h1>Welcome to the <br /> 
    Finance Management</h1>

  <h2>
    This is the home page for the
    <%= link_to "Finance Management", "#" %>
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
