<% provide(:title, 'User list') %>
<h1>User list</h1>

<div class="span10 offset1">
  <table class="table table-bordered">

    <thead>
      <tr>
        <th>User ID</th>
        <th>User Name</th>
        <th>User Email</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= link_to user.name, user %></td>
          <td><%= user.email %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>